* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100%;
  background-color: #ff9a4b;
}

.main {
  height: 1000px;
  width: 100%;
  background-color: white;
}

.main-background {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #eeeeee;
}

.picture1 {
  background-image: url(img/flow01.png);
  height: 150px;
  background-size: cover;
  background-position: center;
}

.step-number {
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #aaaaaa;
}
